<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th>
        <div class="text-uppercase">Product</div>
      </th>
      <th>
        <div class="text-uppercase">Price</div>
      </th>
      <th>
        <div class="text-uppercase">Quantity</div>
      </th>
      <th>
        <div class="text-uppercase">Total</div>
      </th>
      <th class="">
        <div class="text-uppercase">Remove</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <th scope="row">
        <div class="">
          <img
            style="max-height: 50px;"
            src="https://skinet.trycatchlearn.com/content/images/products/boot-ang2.png"
            alt="Angular Purple Boots"
          />
          <div class="ml-20 inline-block align-middle">
            <h5>
              <a class="text-dark text-bold" href="/shop/17"
                >Angular Purple Boots</a
              >
            </h5>
          </div>
        </div>
      </th>
      <td class="align-middle">
        <strong>150,000 </strong>
      </td>
      <td class="align-middle">
        <div class="d-flex align-items-center">
          <i
            class="fa fa-minus-circle text-warning"
            style="cursor: pointer; font-size: 22px;"
          ></i
          ><span class="text-bold" style="font-size: 20px;"> 1 </span
          ><i
            class="fa fa-plus-circle text-warning"
            style="cursor: pointer; font-size: 22px;"
          ></i>
        </div>
      </td>
      <td class="align-middle">
        <strong>150,000 </strong>
      </td>
      <td class="align-middle">
        <a class="text-danger"
          ><i class="fa fa-trash" style="font-size: 20px; cursor: pointer;"></i
        ></a>
      </td>
    </tr>
    <tr class="">
      <th scope="row">
        <div class="">
          <img
            style="max-height: 50px;"
            src="https://skinet.trycatchlearn.com/content/images/products/glove-code1.png"
            alt="Blue Code Gloves"
          />
          <div class="ml-20 inline-block align-middle">
            <h5>
              <a class="text-dark text-bold" href="/shop/8">Blue Code Gloves</a>
            </h5>
          </div>
        </div>
      </th>
      <td class="align-middle">
        <strong>180,000 </strong>
      </td>
      <td class="align-middle">
        <div class="d-flex align-items-center">
          <i
            class="fa fa-minus-circle text-warning"
            style="cursor: pointer; font-size: 22px;"
          ></i
          ><span class="text-bold" style="font-size: 20px;"> 1 </span
          ><i
            class="fa fa-plus-circle text-warning"
            style="cursor: pointer; font-size: 22px;"
          ></i>
        </div>
      </td>
      <td class="align-middle">
        <strong>180,000 </strong>
      </td>
      <td class="align-middle">
        <a class="text-danger"
          ><i class="fa fa-trash" style="font-size: 20px; cursor: pointer;"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
