<div class="justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            style="margin-top:25%; margin-bottom: 25%; padding:20px; border: 1px solid #ccc">
            <div class="text-center mb-4">
                <h1 style="color: #333; padding-bottom: 20px; padding-top:0;">Login</h1>
            </div>
            <div class="form-label-group">
                <input [ngClass]="(!loginForm.get('email').valid
                    && loginForm.touched) ? 'invalid-input' : ''" formControlName="email" class="form-control"
                    id="EmailAddress" placeholder="Email Address" type="email">
                <span class="text-danger" *ngIf="loginForm.get('email').invalid
                    && loginForm.touched
                    && loginForm.get('email').errors['required']">
                    Email Address is required
                </span>

                <span class="text-danger" *ngIf="loginForm.get('email').invalid
                && loginForm.touched
                && loginForm.get('email').errors['pattern']">
                    Email Address is not valid
                </span>
            </div>

            <div class="form-label-group">
                <input [ngClass]="(!loginForm.get('password').valid
                    && loginForm.touched) ? 'invalid-input' : ''" formControlName="password" class="form-control"
                    id="Password" placeholder="Password" type="password">
                <span class="text-danger" *ngIf="loginForm.get('password').invalid
                    && loginForm.touched
                    && loginForm.get('password').errors['required']">
                    Password is required
                </span>

                <span class="text-danger" *ngIf="loginForm.get('password').invalid
                    && loginForm.touched
                    && loginForm.get('password').errors['pattern']">
                    Password must contain at least one digit, one lower case, one upper case, 6 to 10 characters from
                    mentioned
                </span>
            </div>

            <button type="submit" class="btn btn-md btn-sign-in btn-block">Sign in</button>
        </form>
    </div>
</div>