/* You can add global styles to this file, and also import other style files */


/* @import "~bootswatch/dist/yeti/variables"; */

@import "../node_modules/bootswatch/yeti/bootstrap.min.css";
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 888px;
    }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.form-label-group {
    margin-bottom: 15px;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;
    display: flex;
}

.form-control {
    box-shadow: none;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #008cba;
}

.text-danger {
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.invalid-input {
    border: 1px solid #F04124 !important;
}

.form-label-group:last-child {
    margin-bottom: 0;
}

.inline-block {
    display: inline-block;   
}

.ml-20 {
    margin-left: 20px;
}

.align-middle {
    vertical-align: middle;
}

.text-dark {
    color: #414142;
}

.text-bold {
    font-weight: bold;
}

.table>thead>tr>th {
    background: #008cba;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}

.book-item {
    text-decoration: none;
}

.book-item:hover {
    color: #008cba;
}