<div class="alert alert-success" role="alert">
  Project build with Angular 9 and .Net Core.
  <b>Not for commercial purposes</b>
</div>

<div class="row">
  <div class="col-md-3 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Sort
      </div>
      <div class="panel-body">
        <select class="form-control">
          <option value="" selected="" disabled="">Please select</option>
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Search</div>
      <div class="panel-body">
        <form>
          <input
            type="text"
            class="form-control book-name"
            aria-describedby="Name"
            placeholder="Enter a book title"
          />

          <select class="form-control book-select">
            <option value="" selected="" disabled="">Select author</option>
            <option *ngFor="let author of authors" [value]="author.authorId">
              {{ author.name }}
            </option>
          </select>

          <button type="button" class="btn btn-primary submit-btn">
            Search
          </button>
          <button type="button" class="btn btn-success reset-btn pull-right">
            Reset
          </button>
        </form>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Book category</div>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let item of bookCategories" class="book-category">
          <a>
            <span class="glyphicon glyphicon-record"> </span>
            {{ item.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">Book category (Displaying 6 items)</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-md-4 col-sm-4" *ngFor="let item of books">
            <app-product-item [book]="item"></app-product-item>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <ul class="pagination pagination-sm">
        <li class="active">
          <span>1<span class="sr-only">(current)</span></span>
        </li>
        <li>
          <a href="/#">
            2
          </a>
        </li>
        <li>
          <a href="/#">
            3
          </a>
        </li>
        <li>
          <a href="/#">
            4
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
