<div class="alert alert-success" role="alert">
  Project build with Angular 9 and .Net Core.
  <b>Not for commercial purposes</b>
</div>

<div class="row">
  <div class="col-md-3 sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Sort
      </div>
      <div class="panel-body">
        <select class="form-control" id="AuthorId">
          <option value="" selected="" disabled="">Please select</option>
          <option>Alphabetical</option>
          <option>Price: Low to high</option>
          <option>Price: High to low</option>
        </select>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Search</div>
      <div class="panel-body">
        <form>
          <input
            type="text"
            class="form-control book-name"
            aria-describedby="Name"
            placeholder="Enter a book title"
          />

          <select class="form-control book-select">
            <option value="" selected="" disabled="">Select author</option>
            <option>Author 1</option>
            <option>Author 2</option>
            <option>Author 3</option>
            <option>Author 4</option>
          </select>

          <button type="button" class="btn btn-primary submit-btn">
            Search
          </button>
          <button type="button" class="btn btn-success reset-btn pull-right">
            Reset
          </button>
        </form>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Book category</div>
      <ul id="" class="nav nav-pills nav-stacked">
        <li class="book-category">
          <a href="https://sachvui.com/the-loai/tat-ca.html">
            <span class="glyphicon glyphicon-record"> </span> All
          </a>
        </li>

        <li class="book-category">
          <a href="https://sachvui.com/the-loai/tat-ca.html">
            <span class="glyphicon glyphicon-record"> </span> Economic
          </a>
        </li>

        <li class="book-category">
          <a href="https://sachvui.com/the-loai/tat-ca.html">
            <span class="glyphicon glyphicon-record"> </span> Marketing
          </a>
        </li>

        <li class="book-category">
          <a href="https://sachvui.com/the-loai/tat-ca.html">
            <span class="glyphicon glyphicon-record"> </span> Medicine
          </a>
        </li>

        <li class="book-category">
          <a href="https://sachvui.com/the-loai/tat-ca.html">
            <span class="glyphicon glyphicon-record"> </span> Technology
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">Book category</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-md-4 col-sm-4" *ngFor="let item of books">
            <app-product-item [book]="item"></app-product-item>
          </div>
        </div>
      </div>
    </div>

   
  </div>

  <div class="col-xs-12">
    <ul class="pagination pagination-sm">
      <li class="active">
        <span>1<span class="sr-only">(current)</span></span>
      </li>
      <li>
        <a href="/#">
          2
        </a>
      </li>
      <li>
        <a href="/#">
          3
        </a>
      </li>
      <li>
        <a href="/#">
          4
        </a>
      </li>
    </ul>
  </div>
</div>
