<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">GoodBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" title="Manage" href="/Identity/Account/Manage">
            Hi! Jess Individual
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Identity/Account/Manage">
            Logout
          </a>
          <!-- <form class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button type="submit" class="nav-link btn btn-link ">Logout</button>
            <input name="__RequestVerificationToken" type="hidden"
              value="CfDJ8JiIJ0PssRBNmS-w8jgkQKjUd36Db9XY7mPuGODuICR04NKs_LKW1FTNgODGm8EG9cChtfWIzncbtHX83hZFD6iSyaVe69muLqpv94HjaZIKE-eIziku4ibHlHok6v912kMqW0k2lm9gayFxM8zzI9jGXmfS5XF6LbGdQjwyCJ9Gg7zfAR-zPisATIA3AkI26Q">
          </form> -->
        </li>
      </ul>

      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" href="/Admin/Order">
            <span>Order History</span>
          </a>
        </li>
        <li style="color:white;">
          <a class="nav-link" href="/Customer/Cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp; (1)
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>