.product-price {
  font-size: 25px;
  color: #999999;
  margin-bottom: 25px;
}

.product-description h5 {
  font-size: 25px;
  color: #999999;
}

.btn-add-to-card {
  width: 100%;
  border: 1px solid #008cba;
  background-color: white;
  color: #008cba;
  width: 90%;
}

.btn-add-to-card:hover {
  background-color: #008cba;
  color:white;
  border: 1px solid white;
}

.quantity-value {
  text-align: center;
}

.btn-add-to-card i {
  display: inline-block;
  margin-right: 10px;
}

.panel-footer button {
  width: 100%;
}
