<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <h1>Fortune Of Time</h1>
                <p class="text-warning">by Abby Muscles</p>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                <h5 class="product-price">List Price: $80.00</h5>

                <div class="product-description">
                    <h5>Description</h5>
                    <p>
                        Suspendisse potenti. Maecenas cursus, erat eget eleifend elementum, lacus nibh auctor metus,
                        quis
                        bibendum est orci in magna.
                        Suspendisse potenti. Maecenas cursus, erat eget eleifend elementum, lacus nibh auctor metus,
                        quis
                        bibendum est orci in magna.
                        Suspendisse potenti. Maecenas cursus, erat eget eleifend elementum, lacus nibh auctor metus,
                        quis
                        bibendum est orci in magna.
                        Suspendisse potenti. Maecenas cursus, erat eget eleifend elementum, lacus nibh auctor metus,
                        quis
                        bibendum est orci in magna.
                    </p>
                    <p
                        style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                        Fusce consequat diam sit amet viverra ultricies. Integer tempus, elit nec elementum posuere,
                        risus
                        urna faucibus dolor, et feugiat orci nisi at libero. Donec tempus massa at nisi ultrices, nec
                        suscipit nibh rutrum.
                    </p>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px">
                    <div class="row">

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control input-number quantity-value" value="1" min="1"
                                max="10">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <img src="https://sachvui.com/cover2/2018/loi-song-toi-gian-cua-nguoi-nhat.jpg" width="100%"
                    class="rounded">
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-success">Back to list</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <button type="button" class="btn btn-add-to-card pull-right">
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                    </button>
            </div>
        </div>

    </div>
</div>